.photo-details-modal {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-details-modal__content {
  background-color: white;
  position: fixed;
  height: 80%;
  width: 60%;
  overflow-y: scroll;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  align-items: center;
  
  .photo-list {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin: 0 16px;
  }

  button {
    // background: rgba(165, 221, 255, 0.5);
    color: rgb(41, 61, 74); 
    
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    width: 64px;
    height: 200px;
    transform: translateY(-20px);
    position: absolute;
    
    svg {
      height: 32px;
      width: 32px;
      fill: rgb(24, 35, 42);
    }
  }

  button:first-of-type {
    background: rgba(165,221,225, 0);
    transition: all ease-in-out 7s;

    left: 0;
    &:hover{
      background: rgb(165,221,225, 1);
      background: linear-gradient(90deg, rgba(165,221,225,0.5) 0%, rgba(165,221,225,0) 100%);
    }
  }

  button:last-of-type {
    background: rgba(165,221,225, 0);
    transition: all ease-in-out 7s;

    right: 0;
    &:hover{
      background: rgb(165,221,225);
      background: linear-gradient(-90deg, rgba(165,221,225,0.5) 0%, rgba(165,221,225,0) 100%);
    }
  }


}

.photo-details-modal__images::-webkit-scrollbar {
  display: none;
}

.photo-details-modal__image-details {
  padding: 16px 32px;
  height: inherit;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.photo-details-modal__image {
  /* max-width: 95%; */
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 8px;
  object-fit: contain;
  background-color: #dfdfdf;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
  margin-top: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 0;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

hr {
  border: 1px solid #eaeaea;
  margin: 16px 0;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}